## U.S. MSA Cultural Identity & Innovation

In [1]:
import pandas as pd

##### COUNTY - MSA Crosswalk* (For matching County-level data to MSAs)
BLS (https://www.bls.gov/cew/classifications/areas/county-msa-csa-crosswalk.htm)

In [29]:
crosswalk = pd.read_csv('/Users/isabellagermani/Desktop/Data/CTY - MSA CROSSWALK.csv')

# Dropping all PR territories
crosswalk = crosswalk[~crosswalk['COUNTYNAME'].str.contains("Puerto Rico")]

# Removing County, State from COUNTYNAME col
crosswalk['COUNTYNAME'] = crosswalk['COUNTYNAME'].apply(lambda x: x.split(' County')[0])

# Removing MicroSA cols
crosswalk = crosswalk[~crosswalk['MSANAME'].str.contains('MicroSA')]

# Removing MSA from MSANAME
crosswalk['MSANAME'] = crosswalk['MSANAME'].apply(lambda x: x.split('MSA')[0])

# Stripping whitespace and making lowercase
crosswalk['COUNTYNAME'] = crosswalk['COUNTYNAME'].str.strip().str.lower()

print(crosswalk)

      COUNTYCODE  COUNTYNAME MSACODE                              MSANAME
0           1001     autauga   C3386                     Montgomery, AL
3           1007        bibb   C1382              Birmingham-Hoover, AL
4           1009      blount   C1382              Birmingham-Hoover, AL
5           1015     calhoun   C1150                Anniston-Oxford, AL
7           1021     chilton   C1382              Birmingham-Hoover, AL
...          ...         ...     ...                                  ...
1767       55131  washington   C3334  Milwaukee-Waukesha-West Allis, WI
1768       55133    waukesha   C3334  Milwaukee-Waukesha-West Allis, WI
1769       55139   winnebago   C3678                 Oshkosh-Neenah, WI
1774       56021     laramie   C1694                       Cheyenne, WY
1775       56025     natrona   C1622                         Casper, WY

[1090 rows x 4 columns]

In [30]:
# Creating Dictionary to match with
county_msa_dict = dict(zip(crosswalk['COUNTYNAME'], crosswalk['MSANAME']))

# Stripping whitespace & making lowercase
county_msa_dict = {key.strip().lower(): value for key, value in county_msa_dict.items()}
county_msa_dict

{'autauga': 'Montgomery, AL  ',
 'bibb': 'Macon, GA  ',
 'blount': 'Knoxville, TN  ',
 'calhoun': 'Victoria, TX  ',
 'chilton': 'Birmingham-Hoover, AL  ',
 'colbert': 'Florence-Muscle Shoals, AL ',
 'elmore': 'Montgomery, AL  ',
 'etowah': 'Gadsden, AL  ',
 'geneva': 'Dothan, AL  ',
 'greene': 'Charlottesville, VA  ',
 'hale': 'Tuscaloosa, AL  ',
 'henry': 'Louisville, KY-IN  ',
 'houston': 'La Crosse, WI-MN  ',
 'jefferson': 'Washington-Arlington-Alexandria, DC-VA-MD-WV ',
 'lauderdale': 'Florence-Muscle Shoals, AL ',
 'lawrence': 'Huntington-Ashland, WV-KY-OH  ',
 'lee': 'Albany, GA  ',
 'limestone': 'Huntsville, AL  ',
 'lowndes': 'Valdosta, GA  ',
 'madison': 'Jackson, TN  ',
 'mobile': 'Mobile, AL  ',
 'montgomery': 'Blacksburg-Christiansburg-Radford, VA  ',
 'morgan': 'Hagerstown-Martinsburg, MD-WV  ',
 'russell': 'Columbus, GA-AL  ',
 'st. clair': 'Detroit-Warren-Livonia, MI  ',
 'shelby': 'Memphis, TN-MS-AR  ',
 'tuscaloosa': 'Tuscaloosa, AL  ',
 'walker': 'Chattanooga, TN-GA  ',
 'anchorage municipality, alaska': 'Anchorage, AK  ',
 'fairbanks north star borough, alaska': 'Fairbanks, AK  ',
 'matanuska-susitna borough, alaska': 'Anchorage, AK  ',
 'coconino': 'Flagstaff, AZ  ',
 'maricopa': 'Phoenix-Mesa-Scottsdale, AZ  ',
 'pima': 'Tucson, AZ  ',
 'pinal': 'Phoenix-Mesa-Scottsdale, AZ  ',
 'yavapai': 'Prescott, AZ  ',
 'yuma': 'Yuma, AZ  ',
 'benton': 'Kennewick-Richland-Pasco, WA  ',
 'cleveland': 'Oklahoma City, OK  ',
 'craighead': 'Jonesboro, AR  ',
 'crawford': 'Macon, GA  ',
 'crittenden': 'Memphis, TN-MS-AR  ',
 'faulkner': 'Little Rock-North Little Rock, AR  ',
 'franklin': 'Kennewick-Richland-Pasco, WA  ',
 'garland': 'Hot Springs, AR  ',
 'grant': 'Cincinnati-Middletown, OH-KY-IN  ',
 'lincoln': 'Charleston, WV  ',
 'lonoke': 'Little Rock-North Little Rock, AR  ',
 'miller': 'Texarkana, TX-Texarkana, AR ',
 'perry': 'Harrisburg-Carlisle, PA  ',
 'poinsett': 'Jonesboro, AR  ',
 'pulaski': 'Blacksburg-Christiansburg-Radford, VA  ',
 'saline': 'Little Rock-North Little Rock, AR  ',
 'sebastian': 'Fort Smith, AR-OK  ',
 'washington': 'Milwaukee-Waukesha-West Allis, WI  ',
 'alameda': 'San Francisco-Oakland-Fremont, CA  ',
 'butte': 'Chico, CA  ',
 'contra costa': 'San Francisco-Oakland-Fremont, CA  ',
 'el dorado': 'Sacramento--Arden-Arcade--Roseville, CA  ',
 'fresno': 'Fresno, CA  ',
 'imperial': 'El Centro, CA  ',
 'kern': 'Bakersfield, CA  ',
 'kings': 'New York-Northern New Jersey-Long Island, NY-NJ-PA ',
 'los angeles': 'Los Angeles-Long Beach-Santa Ana, CA  ',
 'madera': 'Madera, CA  ',
 'marin': 'San Francisco-Oakland-Fremont, CA  ',
 'merced': 'Merced, CA  ',
 'monterey': 'Salinas, CA  ',
 'napa': 'Napa, CA  ',
 'orange': 'Beaumont-Port Arthur, TX  ',
 'placer': 'Sacramento--Arden-Arcade--Roseville, CA  ',
 'riverside': 'Riverside-San Bernardino-Ontario, CA  ',
 'sacramento': 'Sacramento--Arden-Arcade--Roseville, CA  ',
 'san benito': 'San Jose-Sunnyvale-Santa Clara, CA  ',
 'san bernardino': 'Riverside-San Bernardino-Ontario, CA  ',
 'san diego': 'San Diego-Carlsbad-San Marcos, CA  ',
 'san francisco': 'San Francisco-Oakland-Fremont, CA  ',
 'san joaquin': 'Stockton, CA  ',
 'san luis obispo': 'San Luis Obispo-Paso Robles, CA  ',
 'san mateo': 'San Francisco-Oakland-Fremont, CA  ',
 'santa barbara': 'Santa Barbara-Santa Maria-Goleta, CA  ',
 'santa clara': 'San Jose-Sunnyvale-Santa Clara, CA  ',
 'santa cruz': 'Santa Cruz-Watsonville, CA  ',
 'shasta': 'Redding, CA  ',
 'solano': 'Vallejo-Fairfield, CA  ',
 'sonoma': 'Santa Rosa-Petaluma, CA  ',
 'stanislaus': 'Modesto, CA  ',
 'sutter': 'Yuba City, CA  ',
 'tulare': 'Visalia-Porterville, CA  ',
 'ventura': 'Oxnard-Thousand Oaks-Ventura, CA  ',
 'yolo': 'Sacramento--Arden-Arcade--Roseville, CA  ',
 'yuba': 'Yuba City, CA  ',
 'adams': 'Denver-Aurora, CO  ',
 'arapahoe': 'Denver-Aurora, CO  ',
 'boulder': 'Boulder, CO  ',
 'broomfield': 'Denver-Aurora, CO  ',
 'clear creek': 'Denver-Aurora, CO  ',
 'denver': 'Denver-Aurora, CO  ',
 'douglas': 'Duluth, MN-WI  ',
 'elbert': 'Denver-Aurora, CO  ',
 'el paso': 'El Paso, TX  ',
 'gilpin': 'Denver-Aurora, CO  ',
 'larimer': 'Fort Collins-Loveland, CO  ',
 'mesa': 'Grand Junction, CO  ',
 'park': 'Denver-Aurora, CO  ',
 'pueblo': 'Pueblo, CO  ',
 'teller': 'Colorado Springs, CO  ',
 'weld': 'Greeley, CO  ',
 'fairfield': 'Columbia, SC  ',
 'hartford': 'Hartford-West Hartford-East Hartford, CT  ',
 'middlesex': 'New York-Northern New Jersey-Long Island, NY-NJ-PA ',
 'new haven': 'New Haven-Milford, CT  ',
 'new london': 'Norwich-New London, CT  ',
 'tolland': 'Hartford-West Hartford-East Hartford, CT  ',
 'kent': 'Providence-New Bedford-Fall River, RI-MA  ',
 'new castle': 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD  ',
 'district of columbia, district of columbia': 'Washington-Arlington-Alexandria, DC-VA-MD-WV ',
 'alachua': 'Gainesville, FL  ',
 'baker': 'Albany, GA  ',
 'bay': 'Bay City, MI  ',
 'brevard': 'Palm Bay-Melbourne-Titusville, FL  ',
 'broward': 'Miami-Fort Lauderdale-Miami Beach, FL  ',
 'charlotte': 'Punta Gorda, FL  ',
 'clay': 'Charleston, WV  ',
 'collier': 'Naples-Marco Island, FL  ',
 'duval': 'Jacksonville, FL  ',
 'escambia': 'Pensacola-Ferry Pass-Brent, FL  ',
 'gadsden': 'Tallahassee, FL  ',
 'gilchrist': 'Gainesville, FL  ',
 'hernando': 'Tampa-St. Petersburg-Clearwater, FL  ',
 'hillsborough': 'Manchester-Nashua, NH  ',
 'indian river': 'Vero Beach, FL  ',
 'lake': 'Cleveland-Elyria-Mentor, OH  ',
 'leon': 'Tallahassee, FL  ',
 'manatee': 'Sarasota-Bradenton-Venice, FL  ',
 'marion': 'Chattanooga, TN-GA  ',
 'martin': 'Port St. Lucie-Fort Pierce, FL  ',
 'miami-dade': 'Miami-Fort Lauderdale-Miami Beach, FL  ',
 'nassau': 'New York-Northern New Jersey-Long Island, NY-NJ-PA ',
 'okaloosa': 'Fort Walton Beach-Crestview-Destin, FL  ',
 'osceola': 'Orlando, FL  ',
 'palm beach': 'Miami-Fort Lauderdale-Miami Beach, FL  ',
 'pasco': 'Tampa-St. Petersburg-Clearwater, FL  ',
 'pinellas': 'Tampa-St. Petersburg-Clearwater, FL  ',
 'polk': 'Cleveland, TN  ',
 'st. johns': 'Jacksonville, FL  ',
 'st. lucie': 'Port St. Lucie-Fort Pierce, FL  ',
 'santa rosa': 'Pensacola-Ferry Pass-Brent, FL  ',
 'sarasota': 'Sarasota-Bradenton-Venice, FL  ',
 'seminole': 'Orlando, FL  ',
 'volusia': 'Deltona-Daytona Beach-Ormond Beach, FL  ',
 'wakulla': 'Tallahassee, FL  ',
 'barrow': 'Atlanta-Sandy Springs-Marietta, GA  ',
 'bartow': 'Atlanta-Sandy Springs-Marietta, GA  ',
 'brantley': 'Brunswick, GA  ',
 'brooks': 'Valdosta, GA  ',
 'bryan': 'Savannah, GA  ',
 'burke': 'Hickory-Lenoir-Morganton, NC  ',
 'butts': 'Atlanta-Sandy Springs-Marietta, GA  ',
 'carroll': 'Canton-Massillon, OH  ',
 'catoosa': 'Chattanooga, TN-GA  ',
 'chatham': 'Durham, NC ',
 'chattahoochee': 'Columbus, GA-AL  ',
 'cherokee': 'Atlanta-Sandy Springs-Marietta, GA  ',
 'clarke': 'Washington-Arlington-Alexandria, DC-VA-MD-WV ',
 'clayton': 'Atlanta-Sandy Springs-Marietta, GA  ',
 'cobb': 'Atlanta-Sandy Springs-Marietta, GA  ',
 'columbia': 'Madison, WI  ',
 'coweta': 'Atlanta-Sandy Springs-Marietta, GA  ',
 'dade': 'Chattanooga, TN-GA  ',
 'dawson': 'Atlanta-Sandy Springs-Marietta, GA  ',
 'dekalb': 'St. Joseph, MO-KS  ',
 'dougherty': 'Albany, GA  ',
 'echols': 'Valdosta, GA  ',
 'effingham': 'Savannah, GA  ',
 'fayette': 'Memphis, TN-MS-AR  ',
 'floyd': 'Louisville, KY-IN  ',
 'forsyth': 'Winston-Salem, NC  ',
 'fulton': 'Toledo, OH  ',
 'glynn': 'Brunswick, GA  ',
 'gwinnett': 'Atlanta-Sandy Springs-Marietta, GA  ',
 'hall': 'Gainesville, GA  ',
 'haralson': 'Atlanta-Sandy Springs-Marietta, GA  ',
 'harris': 'Houston-Baytown-Sugar Land, TX  ',
 'heard': 'Atlanta-Sandy Springs-Marietta, GA  ',
 'jasper': 'Joplin, MO  ',
 'jones': 'Abilene, TX  ',
 'lamar': 'Hattiesburg, MS  ',
 'lanier': 'Valdosta, GA  ',
 'liberty': 'Houston-Baytown-Sugar Land, TX  ',
 'long': 'Hinesville-Fort Stewart, GA  ',
 'mcduffie': 'Augusta-Richmond County, GA-SC  ',
 'mcintosh': 'Brunswick, GA  ',
 'meriwether': 'Atlanta-Sandy Springs-Marietta, GA  ',
 'monroe': 'Rochester, NY  ',
 'murray': 'Dalton, GA  ',
 'muscogee': 'Columbus, GA-AL  ',
 'newton': 'Joplin, MO  ',
 'oconee': 'Athens-Clarke County, GA  ',
 'oglethorpe': 'Athens-Clarke County, GA  ',
 'paulding': 'Atlanta-Sandy Springs-Marietta, GA  ',
 'pickens': 'Greenville, SC  ',
 'pike': 'New York-Northern New Jersey-Long Island, NY-NJ-PA ',
 'richmond': 'New York-Northern New Jersey-Long Island, NY-NJ-PA ',
 'rockdale': 'Atlanta-Sandy Springs-Marietta, GA  ',
 'spalding': 'Atlanta-Sandy Springs-Marietta, GA  ',
 'terrell': 'Albany, GA  ',
 'twiggs': 'Macon, GA  ',
 'walton': 'Atlanta-Sandy Springs-Marietta, GA  ',
 'whitfield': 'Dalton, GA  ',
 'worth': 'Albany, GA  ',
 'honolulu': 'Honolulu, HI  ',
 'ada': 'Boise City-Nampa, ID  ',
 'bannock': 'Pocatello, ID  ',
 'boise': 'Boise City-Nampa, ID  ',
 'bonneville': 'Idaho Falls, ID  ',
 'canyon': 'Boise City-Nampa, ID  ',
 'gem': 'Boise City-Nampa, ID  ',
 'kootenai': "Coeur d'Alene, ID  ",
 'nez perce': 'Lewiston, ID-WA  ',
 'owyhee': 'Boise City-Nampa, ID  ',
 'power': 'Pocatello, ID  ',
 'bond': 'St. Louis, MO-IL  ',
 'boone': 'Charleston, WV  ',
 'champaign': 'Champaign-Urbana, IL  ',
 'clinton': 'Kansas City, MO-KS  ',
 'cook': 'Chicago-Naperville-Joliet, IL-IN-WI  ',
 'dupage': 'Chicago-Naperville-Joliet, IL-IN-WI  ',
 'ford': 'Champaign-Urbana, IL  ',
 'grundy': 'Waterloo-Cedar Falls, IA  ',
 'jersey': 'St. Louis, MO-IL  ',
 'kane': 'Chicago-Naperville-Joliet, IL-IN-WI  ',
 'kankakee': 'Kankakee-Bradley, IL  ',
 'kendall': 'San Antonio, TX  ',
 'mchenry': 'Chicago-Naperville-Joliet, IL-IN-WI  ',
 'mclean': 'Owensboro, KY  ',
 'macon': 'Nashville-Davidson--Murfreesboro, TN  ',
 'macoupin': 'St. Louis, MO-IL  ',
 'marshall': 'Wheeling, WV-OH  ',
 'menard': 'Springfield, IL  ',
 'mercer': 'Youngstown-Warren-Boardman, OH-PA  ',
 'peoria': 'Peoria, IL  ',
 'piatt': 'Champaign-Urbana, IL  ',
 'rock island': 'Davenport-Moline-Rock Island, IA-IL  ',
 'sangamon': 'Springfield, IL  ',
 'stark': 'Canton-Massillon, OH  ',
 'tazewell': 'Peoria, IL  ',
 'vermilion': 'Danville, IL  ',
 'will': 'Chicago-Naperville-Joliet, IL-IN-WI  ',
 'winnebago': 'Oshkosh-Neenah, WI  ',
 'woodford': 'Lexington-Fayette, KY  ',
 'allen': 'Lima, OH  ',
 'bartholomew': 'Columbus, IN  ',
 'brown': 'Green Bay, WI  ',
 'clark': 'Portland-Vancouver-Beaverton, OR-WA  ',
 'dearborn': 'Cincinnati-Middletown, OH-KY-IN  ',
 'delaware': 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD  ',
 'elkhart': 'Elkhart-Goshen, IN  ',
 'gibson': 'Evansville, IN-KY  ',
 'hamilton': 'Chattanooga, TN-GA  ',
 'hancock': 'Weirton-Steubenville, WV-OH ',
 'harrison': 'Gulfport-Biloxi, MS  ',
 'hendricks': 'Indianapolis, IN  ',
 'howard': 'Columbia, MO  ',
 'johnson': 'Dallas-Fort Worth-Arlington, TX  ',
 'laporte': 'Michigan City-La Porte, IN  ',
 'ohio': 'Wheeling, WV-OH  ',
 'owen': 'Bloomington, IN  ',
 'porter': 'Chicago-Naperville-Joliet, IL-IN-WI  ',
 'posey': 'Evansville, IN-KY  ',
 'putnam': 'Charleston, WV  ',
 'st. joseph': 'South Bend-Mishawaka, IN-MI  ',
 'sullivan': 'Kingsport-Bristol-Bristol, TN-VA  ',
 'tippecanoe': 'Lafayette, IN  ',
 'tipton': 'Memphis, TN-MS-AR  ',
 'vanderburgh': 'Evansville, IN-KY  ',
 'vermillion': 'Terre Haute, IN  ',
 'vigo': 'Terre Haute, IN  ',
 'warrick': 'Evansville, IN-KY  ',
 'wells': 'Fort Wayne, IN  ',
 'whitley': 'Fort Wayne, IN  ',
 'black hawk': 'Waterloo-Cedar Falls, IA  ',
 'bremer': 'Waterloo-Cedar Falls, IA  ',
 'dallas': 'Dallas-Fort Worth-Arlington, TX  ',
 'dubuque': 'Dubuque, IA  ',
 'guthrie': 'Des Moines, IA  ',
 'linn': 'Kansas City, MO-KS  ',
 'mills': 'Omaha-Council Bluffs, NE-IA  ',
 'pottawattamie': 'Omaha-Council Bluffs, NE-IA  ',
 'scott': 'Kingsport-Bristol-Bristol, TN-VA  ',
 'story': 'Ames, IA  ',
 'warren': 'Washington-Arlington-Alexandria, DC-VA-MD-WV ',
 'woodbury': 'Sioux City, IA-NE-SD  ',
 'butler': 'Pittsburgh, PA  ',
 'doniphan': 'St. Joseph, MO-KS  ',
 'harvey': 'Wichita, KS  ',
 'jackson': 'Medford, OR  ',
 'leavenworth': 'Kansas City, MO-KS  ',
 'miami': 'Dayton, OH  ',
 'osage': 'Tulsa, OK  ',
 'sedgwick': 'Wichita, KS  ',
 'shawnee': 'Topeka, KS  ',
 'sumner': 'Nashville-Davidson--Murfreesboro, TN  ',
 'wabaunsee': 'Topeka, KS  ',
 'wyandotte': 'Kansas City, MO-KS  ',
 'bourbon': 'Lexington-Fayette, KY  ',
 'boyd': 'Huntington-Ashland, WV-KY-OH  ',
 'bracken': 'Cincinnati-Middletown, OH-KY-IN  ',
 'bullitt': 'Louisville, KY-IN  ',
 'campbell': 'Lynchburg, VA  ',
 'christian': 'Springfield, MO  ',
 'daviess': 'Owensboro, KY  ',
 'edmonson': 'Bowling Green, KY  ',
 'gallatin': 'Cincinnati-Middletown, OH-KY-IN  ',
 'greenup': 'Huntington-Ashland, WV-KY-OH  ',
 'hardin': 'Beaumont-Port Arthur, TX  ',
 'henderson': 'Asheville, NC  ',
 'jessamine': 'Lexington-Fayette, KY  ',
 'kenton': 'Cincinnati-Middletown, OH-KY-IN  ',
 'larue': 'Elizabethtown, KY  ',
 'meade': 'Rapid City, SD  ',
 'nelson': 'Charlottesville, VA  ',
 'oldham': 'Louisville, KY-IN  ',
 'pendleton': 'Cincinnati-Middletown, OH-KY-IN  ',
 'spencer': 'Louisville, KY-IN  ',
 'trigg': 'Clarksville, TN-KY  ',
 'trimble': 'Louisville, KY-IN  ',
 'webster': 'Springfield, MO  ',
 'ascension parish, louisiana': 'Baton Rouge, LA  ',
 'bossier parish, louisiana': 'Shreveport-Bossier City, LA  ',
 'caddo parish, louisiana': 'Shreveport-Bossier City, LA  ',
 'calcasieu parish, louisiana': 'Lake Charles, LA  ',
 'cameron parish, louisiana': 'Lake Charles, LA  ',
 'de soto parish, louisiana': 'Shreveport-Bossier City, LA  ',
 'east baton rouge parish, louisiana': 'Baton Rouge, LA  ',
 'east feliciana parish, louisiana': 'Baton Rouge, LA  ',
 'grant parish, louisiana': 'Alexandria, LA  ',
 'iberville parish, louisiana': 'Baton Rouge, LA  ',
 'jefferson parish, louisiana': 'New Orleans-Metairie-Kenner, LA  ',
 'lafayette parish, louisiana': 'Lafayette, LA  ',
 'lafourche parish, louisiana': 'Houma-Bayou Cane-Thibodaux, LA  ',
 'livingston parish, louisiana': 'Baton Rouge, LA  ',
 'orleans parish, louisiana': 'New Orleans-Metairie-Kenner, LA  ',
 'ouachita parish, louisiana': 'Monroe, LA  ',
 'plaquemines parish, louisiana': 'New Orleans-Metairie-Kenner, LA  ',
 'pointe coupee parish, louisiana': 'Baton Rouge, LA  ',
 'rapides parish, louisiana': 'Alexandria, LA  ',
 'st. bernard parish, louisiana': 'New Orleans-Metairie-Kenner, LA  ',
 'st. charles parish, louisiana': 'New Orleans-Metairie-Kenner, LA  ',
 'st. helena parish, louisiana': 'Baton Rouge, LA  ',
 'st. john the baptist parish, louisiana': 'New Orleans-Metairie-Kenner, LA  ',
 'st. martin parish, louisiana': 'Lafayette, LA  ',
 'st. tammany parish, louisiana': 'New Orleans-Metairie-Kenner, LA  ',
 'terrebonne parish, louisiana': 'Houma-Bayou Cane-Thibodaux, LA  ',
 'union parish, louisiana': 'Monroe, LA  ',
 'west baton rouge parish, louisiana': 'Baton Rouge, LA  ',
 'west feliciana parish, louisiana': 'Baton Rouge, LA  ',
 'androscoggin': 'Lewiston-Auburn, ME  ',
 'cumberland': 'Richmond, VA  ',
 'penobscot': 'Bangor, ME  ',
 'sagadahoc': 'Portland-South Portland-Biddeford, ME  ',
 'york': 'Virginia Beach-Norfolk-Newport News, VA-NC ',
 'allegany': 'Cumberland, MD-WV  ',
 'anne arundel': 'Baltimore-Towson, MD  ',
 'baltimore': 'Baltimore-Towson, MD  ',
 'calvert': 'Washington-Arlington-Alexandria, DC-VA-MD-WV ',
 'cecil': 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD  ',
 'charles': 'Washington-Arlington-Alexandria, DC-VA-MD-WV ',
 'frederick': 'Winchester, VA-WV ',
 'harford': 'Baltimore-Towson, MD  ',
 "prince george's": 'Washington-Arlington-Alexandria, DC-VA-MD-WV ',
 "queen anne's": 'Baltimore-Towson, MD  ',
 'somerset': 'New York-Northern New Jersey-Long Island, NY-NJ-PA ',
 'wicomico': 'Salisbury, MD  ',
 'baltimore city, maryland': 'Baltimore-Towson, MD  ',
 'barnstable': 'Barnstable Town, MA  ',
 'berkshire': 'Pittsfield, MA  ',
 'bristol': 'Providence-New Bedford-Fall River, RI-MA  ',
 'essex': 'New York-Northern New Jersey-Long Island, NY-NJ-PA ',
 'hampden': 'Springfield, MA  ',
 'hampshire': 'Winchester, VA-WV ',
 'norfolk': 'Boston-Cambridge-Quincy, MA-NH  ',
 'plymouth': 'Boston-Cambridge-Quincy, MA-NH  ',
 'suffolk': 'New York-Northern New Jersey-Long Island, NY-NJ-PA ',
 'worcester': 'Worcester, MA  ',
 'barry': 'Grand Rapids-Wyoming, MI  ',
 'berrien': 'Niles-Benton Harbor, MI  ',
 'cass': 'Fargo, ND-MN  ',
 'eaton': 'Lansing-East Lansing, MI  ',
 'genesee': 'Flint, MI  ',
 'ingham': 'Lansing-East Lansing, MI  ',
 'ionia': 'Grand Rapids-Wyoming, MI  ',
 'kalamazoo': 'Kalamazoo-Portage, MI  ',
 'lapeer': 'Detroit-Warren-Livonia, MI  ',
 'livingston': 'Rochester, NY  ',
 'macomb': 'Detroit-Warren-Livonia, MI  ',
 'muskegon': 'Muskegon-Norton Shores, MI  ',
 'newaygo': 'Grand Rapids-Wyoming, MI  ',
 'oakland': 'Detroit-Warren-Livonia, MI  ',
 'ottawa': 'Toledo, OH  ',
 'saginaw': 'Saginaw-Saginaw Township North, MI  ',
 'van buren': 'Kalamazoo-Portage, MI  ',
 'washtenaw': 'Ann Arbor, MI  ',
 'wayne': 'Huntington-Ashland, WV-KY-OH  ',
 'anoka': 'Minneapolis-St. Paul-Bloomington, MN-WI  ',
 'carlton': 'Duluth, MN-WI  ',
 'carver': 'Minneapolis-St. Paul-Bloomington, MN-WI  ',
 'chisago': 'Minneapolis-St. Paul-Bloomington, MN-WI  ',
 'dakota': 'Sioux City, IA-NE-SD  ',
 'dodge': 'Rochester, MN  ',
 'hennepin': 'Minneapolis-St. Paul-Bloomington, MN-WI  ',
 'isanti': 'Minneapolis-St. Paul-Bloomington, MN-WI  ',
 'olmsted': 'Rochester, MN  ',
 'ramsey': 'Minneapolis-St. Paul-Bloomington, MN-WI  ',
 'st. louis': 'St. Louis, MO-IL  ',
 'sherburne': 'Minneapolis-St. Paul-Bloomington, MN-WI  ',
 'stearns': 'St. Cloud, MN  ',
 'wabasha': 'Rochester, MN  ',
 'wright': 'Minneapolis-St. Paul-Bloomington, MN-WI  ',
 'copiah': 'Jackson, MS  ',
 'desoto': 'Memphis, TN-MS-AR  ',
 'forrest': 'Hattiesburg, MS  ',
 'george': 'Pascagoula, MS  ',
 'hinds': 'Jackson, MS  ',
 'rankin': 'Jackson, MS  ',
 'simpson': 'Jackson, MS  ',
 'stone': 'Gulfport-Biloxi, MS  ',
 'tate': 'Memphis, TN-MS-AR  ',
 'tunica': 'Memphis, TN-MS-AR  ',
 'andrew': 'St. Joseph, MO-KS  ',
 'bates': 'Kansas City, MO-KS  ',
 'buchanan': 'St. Joseph, MO-KS  ',
 'caldwell': 'Austin-Round Rock, TX  ',
 'callaway': 'Jefferson City, MO  ',
 'cole': 'Jefferson City, MO  ',
 'lafayette': 'Kansas City, MO-KS  ',
 'mcdonald': 'Fayetteville-Springdale-Rogers, AR-MO ',
 'moniteau': 'Jefferson City, MO  ',
 'platte': 'Kansas City, MO-KS  ',
 'ray': 'Kansas City, MO-KS  ',
 'st. charles': 'St. Louis, MO-IL  ',
 'st. louis city, missouri': 'St. Louis, MO-IL  ',
 'carbon': 'Allentown-Bethlehem-Easton, PA-NJ  ',
 'cascade': 'Great Falls, MT  ',
 'missoula': 'Missoula, MT  ',
 'yellowstone': 'Billings, MT  ',
 'dixon': 'Sioux City, IA-NE-SD  ',
 'lancaster': 'Lancaster, PA  ',
 'sarpy': 'Omaha-Council Bluffs, NE-IA  ',
 'saunders': 'Omaha-Council Bluffs, NE-IA  ',
 'seward': 'Lincoln, NE  ',
 'storey': 'Reno-Sparks, NV  ',
 'washoe': 'Reno-Sparks, NV  ',
 'carson city, nevada': 'Carson City, NV  ',
 'rockingham': 'Harrisonburg, VA  ',
 'strafford': 'Boston-Cambridge-Quincy, MA-NH  ',
 'atlantic': 'Atlantic City, NJ  ',
 'bergen': 'New York-Northern New Jersey-Long Island, NY-NJ-PA ',
 'burlington': 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD  ',
 'camden': 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD  ',
 'cape may': 'Ocean City, NJ  ',
 'gloucester': 'Virginia Beach-Norfolk-Newport News, VA-NC ',
 'hudson': 'New York-Northern New Jersey-Long Island, NY-NJ-PA ',
 'hunterdon': 'New York-Northern New Jersey-Long Island, NY-NJ-PA ',
 'monmouth': 'New York-Northern New Jersey-Long Island, NY-NJ-PA ',
 'morris': 'New York-Northern New Jersey-Long Island, NY-NJ-PA ',
 'ocean': 'New York-Northern New Jersey-Long Island, NY-NJ-PA ',
 'passaic': 'New York-Northern New Jersey-Long Island, NY-NJ-PA ',
 'salem': 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD  ',
 'sussex': 'Richmond, VA  ',
 'union': 'Knoxville, TN  ',
 'bernalillo': 'Albuquerque, NM  ',
 'dona ana': 'Las Cruces, NM  ',
 'sandoval': 'Albuquerque, NM  ',
 'san juan': 'Farmington, NM  ',
 'santa fe': 'Santa Fe, NM  ',
 'torrance': 'Albuquerque, NM  ',
 'valencia': 'Albuquerque, NM  ',

# CULTURAL VARIABLES

### Number of Cultural Estblishments per 100,000 pop
NADAC Local Arts Index (https://www.icpsr.umich.edu/web/NADAC/studies/36984#)
- I Only have 3 years for this variable, can I do a specific analysis over those 3 years?

In [31]:
lai = pd.read_csv('/Users/isabellagermani/Desktop/Data/lai.csv')
lai

# Constructing Number of Arts and culture establishments per 100,000 population
est_cols = [
    'SCPBSPC2011', #2011
    'SCPBSPC2012', #2012
    'SCPBSPC2013', #2013 - only consecutive years offered in dataset
]

estab = lai[['COUNTY']].copy() # starting new df with only counties to add establishment counts to

In [124]:
for col in est_cols: # looping through list of est year cols
    estab[col] = lai[col] # adding cols to estab df

# Changing col names
estab.rename(columns={'SCPBSPC2011': 'Cult_Estab_2011'}, inplace=True)
estab.rename(columns={'SCPBSPC2012': 'Cult_Estab_2012'}, inplace=True)
estab.rename(columns={'SCPBSPC2013': 'Cult_Estab_2013'}, inplace=True)

# Dropping "County" substring from COUNTY col
estab['COUNTY'] = estab['COUNTY'].str.replace(' County','')

# Making alphabetical by MSA
estab = estab.sort_values(by='COUNTY', ascending = True)
estab

# COUNTIES ARE MESSED UP - do i just drop all empty ones?
    # Not sure what to do with the duplicates bc idk which number is correct for what county?

,COUNTY,Cult_Estab_2011,Cult_Estab_2012,Cult_Estab_2013,Cult_Estab_2011,Cult_Estab_2012,Cult_Estab_2013,Cult_Estab_2011,Cult_Estab_2012,Cult_Estab_2013,Cult_Estab_2011,Cult_Estab_2012,Cult_Estab_2013,Cult_Estab_2011,Cult_Estab_2012,Cult_Estab_2013,Cult_Estab_2011,Cult_Estab_2012,Cult_Estab_2013
88,,0.00,,,0.00,,,0.00,,,0.00,,,0.00,,,0.00,,
91,,0.00,,,0.00,,,0.00,,,0.00,,,0.00,,,0.00,,
96,,0.00,,,0.00,,,0.00,,,0.00,,,0.00,,,0.00,,
2319,Abbeville,7.97,8,8,7.97,8,8,7.97,8,8,7.97,8,8,7.97,8,8,7.97,8,8
1116,Acadia Parish,19.38,19.29,20.9,19.38,19.29,20.9,19.38,19.29,20.9,19.38,19.29,20.9,19.38,19.29,20.9,19.38,19.29,20.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,Yuma,29.65,29.55,19.7,29.65,29.55,19.7,29.65,29.55,19.7,29.65,29.55,19.7,29.65,29.55,19.7,29.65,29.55,19.7
113,Yuma,21.50,16.9,16.9,21.50,16.9,16.9,21.50,16.9,16.9,21.50,16.9,16.9,21.50,16.9,16.9,21.50,16.9,16.9
2778,Zapata,7.00,6.95,6.95,7.00,6.95,6.95,7.00,6.95,6.95,7.00,6.95,6.95,7.00,6.95,6.95,7.00,6.95,6.95
2779,Zavala,0.00,8.23,8.23,0.00,8.23,8.23,0.00,8.23,8.23,0.00,8.23,8.23,0.00,8.23,8.23,0.00,8.23,8.23
2430,Ziebach,0.00,,,0.00,,,0.00,,,0.00,,,0.00,,,0.00,,

In [125]:
# Copying
Estab = estab.copy()

# Stripping whitespace and converting to lowercase
crosswalk['COUNTYNAME'] = crosswalk['COUNTYNAME'].str.strip().str.lower()
Estab['COUNTY'] = Estab['COUNTY'].str.strip().str.lower()

# Using COUNTY/MSA CROSSWALK
filtered_estab = Estab[Estab['COUNTY'].apply(lambda county: county in crosswalk['COUNTYNAME'].values)].copy()

# Replacing COUNTY values with MSAs from crosswalk dict
for county, new_value in county_msa_dict.items():
    filtered_estab.loc[filtered_estab['COUNTY'] == county, 'COUNTY'] = new_value

# Naming COUNTY col MSA
filtered_estab = filtered_estab.rename(columns={'COUNTY': 'MSA'})

# Replacing any missing values with .
filtered_estab.fillna('.', inplace = True)

# Making alphabetical by MSA
filtered_estab = filtered_estab.sort_values(by='MSA', ascending = True)
filtered_estab

# MULTIPLE OF SAME MSA - SEE COMMENT AT BOTTOM OF CELL ABOVE

,MSA,Cult_Estab_2011,Cult_Estab_2012,Cult_Estab_2013,Cult_Estab_2011,Cult_Estab_2012,Cult_Estab_2013,Cult_Estab_2011,Cult_Estab_2012,Cult_Estab_2013,Cult_Estab_2011,Cult_Estab_2012,Cult_Estab_2013,Cult_Estab_2011,Cult_Estab_2012,Cult_Estab_2013,Cult_Estab_2011,Cult_Estab_2012,Cult_Estab_2013
2746,"Abilene, TX",57.69,53.68,54.43,57.69,53.68,54.43,57.69,53.68,54.43,57.69,53.68,54.43,57.69,53.68,54.43,57.69,53.68,54.43
3111,"Abilene, TX",34.17,33.96,29.11,34.17,33.96,29.11,34.17,33.96,29.11,34.17,33.96,29.11,34.17,33.96,29.11,34.17,33.96,29.11
2652,"Abilene, TX",25.03,20.14,25.18,25.03,20.14,25.18,25.03,20.14,25.18,25.03,20.14,25.18,25.03,20.14,25.18,25.03,20.14,25.18
2555,"Abilene, TX",14.80,29.57,36.97,14.80,29.57,36.97,14.80,29.57,36.97,14.80,29.57,36.97,14.80,29.57,36.97,14.80,29.57,36.97
473,"Abilene, TX",10.50,10.5,7,10.50,10.5,7,10.50,10.5,7,10.50,10.5,7,10.50,10.5,7,10.50,10.5,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1079,"Youngstown-Warren-Boardman, OH-PA",23.52,14.05,23.42,23.52,14.05,23.42,23.52,14.05,23.42,23.52,14.05,23.42,23.52,14.05,23.42,23.52,14.05,23.42
239,"Yuba City, CA",17.89,17.83,16.78,17.89,17.83,16.78,17.89,17.83,16.78,17.89,17.83,16.78,17.89,17.83,16.78,17.89,17.83,16.78
246,"Yuba City, CA",15.08,9.54,10.91,15.08,9.54,10.91,15.08,9.54,10.91,15.08,9.54,10.91,15.08,9.54,10.91,15.08,9.54,10.91
310,"Yuma, AZ",29.65,29.55,19.7,29.65,29.55,19.7,29.65,29.55,19.7,29.65,29.55,19.7,29.65,29.55,19.7,29.65,29.55,19.7
113,"Yuma, AZ",21.50,16.9,16.9,21.50,16.9,16.9,21.50,16.9,16.9,21.50,16.9,16.9,21.50,16.9,16.9,21.50,16.9,16.9

In [61]:
# # MAY NOT DO THIS (depends on if all dfs can match on MSA with state)
# # Copying
# ESTAB = filtered_estab.copy()

# # removing comma & space from MSA
# ESTAB.loc[:, 'MSA'] = ESTAB['MSA'].str.replace(', ', '', regex=False)

# # creating new state col
# ESTAB['STATE'] = None 

# # Replacing values in STATE col
# # ESTAB['STATE'] = ESTAB['MSA'].str[-2:] # THIS TURNS VALUES INTO " " (i think)

# # Deleting ST from MSA
# # ESTAB['MSA'] = ESTAB['MSA'].str[:-2] # THIS DOESNT MAKE ANY VISIBLE CHANGES
# ESTAB

### Employment

Total employment - BEA (https://apps.bea.gov/itable/?ReqID=70&step=1#eyJhcHBpZCI6NzAsInN0ZXBzIjpbMSwyOSwyNSwzMSwyNiwyNywzMF0sImRhdGEiOltbIlRhYmxlSWQiLCIzMyJdLFsiTWFqb3JfQXJlYSIsIjUiXSxbIlN0YXRlIixbIjUiXV0sWyJBcmVhIixbIlhYIl1dLFsiU3RhdGlzdGljIixbIjEwIl1dLFsiVW5pdF9vZl9tZWFzdXJlIiwiTGV2ZWxzIl0sWyJZZWFyIixbIi0xIl1dLFsiWWVhckJlZ2luIiwiLTEiXSxbIlllYXJfRW5kIiwiLTEiXV19)

In [121]:
emp = pd.read_csv('/Users/isabellagermani/Desktop/Data/BEA Table2.csv', header = 3)

# Dropping GeoFips col
emp = emp.drop('GeoFips', axis = 1)

# Dropping if not an MSA
emp = emp[emp['GeoName'].str.contains('Metropolitan Statistical Area', na = False)]

# Losing Unnecessary str in GeoName col
emp['GeoName'] = emp['GeoName'].str.replace(' (Metropolitan Statistical Area)','')
emp['GeoName'] = emp['GeoName'].str.replace(' *','')

# Dropping unnecessary years
emp = emp.drop(columns = ['2001','2002','2003','2004','2005','2006','2007','2008','2009','2016','2017','2018','2019','2020','2021','2022'])

# Replacing any missing values with .
emp.fillna('.', inplace = True)

# Renaming GeoName
emp.rename(columns = {'GeoName':'MSA'}, inplace = True)

# Making alphabetical by MSA
emp = emp.sort_values(by='MSA', ascending = True)
emp

,MSA,2010,2011,2012,2013,2014,2015
1,"Abilene, TX",96811.0,98200.0,99848.0,101227.0,102335.0,102612.0
2,"Akron, OH",402554.0,407811.0,412050.0,414520.0,421228.0,426047.0
3,"Albany, GA",77588.0,78989.0,79184.0,79505.0,80587.0,81426.0
4,"Albany-Lebanon, OR",55560.0,55340.0,55669.0,56205.0,57684.0,58998.0
5,"Albany-Schenectady-Troy, NY",528092.0,531548.0,537652.0,543161.0,548376.0,556285.0
...,...,...,...,...,...,...,...
380,"Yakima, WA",119126.0,120042.0,124853.0,125391.0,127317.0,128600.0
381,"York-Hanover, PA",221985.0,224721.0,225938.0,227242.0,229573.0,231735.0
382,"Youngstown-Warren-Boardman, OH-PA",281010.0,285244.0,287335.0,287532.0,287963.0,287961.0
383,"Yuba City, CA",62527.0,62566.0,63967.0,65437.0,66807.0,68645.0
384,"Yuma, AZ",79896.0,80990.0,82396.0,83069.0,83664.0,85800.0

Arts, Entertainment, & Recreation Employment - BEA (https://apps.bea.gov/itable/?ReqID=70&step=1#eyJhcHBpZCI6NzAsInN0ZXBzIjpbMSwyOSwyNSwzMSwyNiwyNywzMF0sImRhdGEiOltbIlRhYmxlSWQiLCIzMyJdLFsiTWFqb3JfQXJlYSIsIjUiXSxbIlN0YXRlIixbIjUiXV0sWyJBcmVhIixbIlhYIl1dLFsiU3RhdGlzdGljIixbIjE3MDAiXV0sWyJVbml0X29mX21lYXN1cmUiLCJMZXZlbHMiXSxbIlllYXIiLFsiLTEiXV0sWyJZZWFyQmVnaW4iLCItMSJdLFsiWWVhcl9FbmQiLCItMSJdXX0=)

In [120]:
aer_emp = pd.read_csv('/Users/isabellagermani/Desktop/Data/BEA Table3.csv', header = 3)

# Dropping GeoFips col
aer_emp = aer_emp.drop('GeoFips', axis = 1)

# Dropping if not an MSA
aer_emp = aer_emp[aer_emp['GeoName'].str.contains('Metropolitan Statistical Area', na = False)]

# Losing Unnecessary str in GeoName col
aer_emp['GeoName'] = aer_emp['GeoName'].str.replace(' (Metropolitan Statistical Area)','')
aer_emp['GeoName'] = aer_emp['GeoName'].str.replace(' *','')

# Dropping unnecessary years
aer_emp = aer_emp.drop(columns = ['2001','2002','2003','2004','2005','2006','2007','2008','2009','2016','2017','2018','2019','2020','2021','2022'])

# Replacing any missing values with .
aer_emp.fillna('.', inplace = True)
aer_emp.replace('(D)','.', inplace = True)

# Renaming GeoName
aer_emp.rename(columns = {'GeoName':'MSA'}, inplace = True)

# Making alphabetical by MSA
aer_emp = aer_emp.sort_values(by='MSA', ascending = True)
aer_emp

,MSA,2010,2011,2012,2013,2014,2015
1,"Abilene, TX",.,.,.,.,.,.
2,"Akron, OH",8533,8601,8827,8891,9532,9320
3,"Albany, GA",.,.,.,.,.,888
4,"Albany-Lebanon, OR",887,861,895,868,895,871
5,"Albany-Schenectady-Troy, NY",10674,10801,11061,11365,11816,11807
...,...,...,...,...,...,...,...
380,"Yakima, WA",1641,1729,1771,1586,1812,1803
381,"York-Hanover, PA",3912,3876,3967,3983,4205,4055
382,"Youngstown-Warren-Boardman, OH-PA",4445,4557,4826,4775,5161,5260
383,"Yuba City, CA",877,966,1016,1055,1130,1151
384,"Yuma, AZ",570,593,812,689,653,649

### Foreign-born Population
CB (https://data.census.gov/table/ACSST5Y2022.S0502?g=010XX00US$31000M1)

In [74]:
# Assigning each year's csv its own var
fbp10 = pd.read_csv('/Users/isabellagermani/Desktop/Data/md/md2010.csv', header = 1)
fbp11 = pd.read_csv('/Users/isabellagermani/Desktop/Data/md/md2011.csv', header = 1)
fbp12 = pd.read_csv('/Users/isabellagermani/Desktop/Data/md/md2012.csv', header = 1)
fbp13 = pd.read_csv('/Users/isabellagermani/Desktop/Data/md/md2013.csv', header = 1)
fbp14 = pd.read_csv('/Users/isabellagermani/Desktop/Data/md/md2014.csv', header = 1)
fbp15 = pd.read_csv('/Users/isabellagermani/Desktop/Data/md/md2015.csv', header = 1)
fbp16 = pd.read_csv('/Users/isabellagermani/Desktop/Data/md/md2016.csv', header = 1)
fbp17 = pd.read_csv('/Users/isabellagermani/Desktop/Data/md/md2017.csv', header = 1)
fbp18 = pd.read_csv('/Users/isabellagermani/Desktop/Data/md/md2018.csv', header = 1)
fbp19 = pd.read_csv('/Users/isabellagermani/Desktop/Data/md/md2019.csv', header = 1)
fbp20 = pd.read_csv('/Users/isabellagermani/Desktop/Data/md/md2020.csv', header = 1)
fbp21 = pd.read_csv('/Users/isabellagermani/Desktop/Data/md/md2021.csv', header = 1)
fbp22 = pd.read_csv('/Users/isabellagermani/Desktop/Data/md/md2022.csv', header = 1)

In [75]:
# Listing DFs
FBPs = [fbp10,fbp11,fbp12,fbp13,fbp14,fbp15,fbp16,fbp17,fbp18,fbp19,fbp20,fbp21,fbp22]
# Listing cols to keep
keep = ['Geographic Area Name','Total!!Estimate!!Foreign-born population','Estimate!!Total!!Foreign-born population'] # switches to 'Estimate!!Total!!' in 2017

# dropping unnecessary cols
for fbp in FBPs:    
    for col in fbp.columns:
        if col not in keep:
            fbp.drop(col, axis = 1, inplace = True)

# renaming cols
for fbp in FBPs:
    fbp.rename(columns = {'Geographic Area Name':'MSA'}, inplace = True)
    fbp.rename(columns = {'Estimate!!Total!!Foreign-born population':'Foreign-born Pop'}, inplace = True)
    fbp.rename(columns = {'Total!!Estimate!!Foreign-born population':'Foreign-born Pop'}, inplace = True)

In [119]:
# removing 'Metro Area' str from MSA col
for fbp in FBPs:
    fbp['MSA'] = fbp['MSA'].str.replace('Metro Area', '')
    fbp['MSA'] = fbp['MSA'].str.strip() # removing whitespace

# Replacing NaNs with .
for fbp in FBPs:
    fbp['Foreign-born Pop'] = fbp['Foreign-born Pop'].fillna('.')

# Adding corresponding years to each col before merging
# dict of dfs with corresponding years
FBP_DICT = {
    2010:fbp10,
    2011:fbp11,
    2012:fbp12,
    2013:fbp13,
    2014:fbp14,
    2015:fbp15,
    2016:fbp16,
    2017:fbp17,
    2018:fbp18,
    2019:fbp19,
    2020:fbp20,
    2021:fbp21,
    2022:fbp22
}

# initializing
merged_fbp = None 

# looping through dict, adding years to cols, & merging
for year, fbp in FBP_DICT.items():
    fbp_renamed = fbp.rename(columns={'Foreign-born Pop': f'Foreign-born Pop {year}'})  # add corresponding year to each col
    if merged_fbp is None: 
        merged_fbp = fbp_renamed 
    else:
        merged_fbp = pd.merge(merged_fbp, fbp_renamed, on='MSA')

# deleting unnecessary cols
merged_fbp = merged_fbp.drop(columns = ['Foreign-born Pop 2016','Foreign-born Pop 2017','Foreign-born Pop 2018','Foreign-born Pop 2019','Foreign-born Pop 2020','Foreign-born Pop 2021','Foreign-born Pop 2022'])

# Making alphabetical by MSA
merged_fbp = merged_fbp.sort_values(by='MSA', ascending = True)
merged_fbp

,MSA,Foreign-born Pop 2010,Foreign-born Pop 2011,Foreign-born Pop 2012,Foreign-born Pop 2013,Foreign-born Pop 2014,Foreign-born Pop 2015
0,"Abilene, TX",7675.0,8115.0,8478.0,8635.0,8291.0,8108.0
1,"Akron, OH",27007.0,26828.0,27699.0,29228.0,29576.0,30960.0
2,"Albany, GA",.,.,.,.,.,.
3,"Albany-Schenectady-Troy, NY",58307.0,58106.0,57888.0,60472.0,60512.0,61526.0
4,"Albuquerque, NM",85042.0,85680.0,87172.0,87322.0,87813.0,86810.0
...,...,...,...,...,...,...,...
271,"Yakima, WA",42690.0,43146.0,43387.0,44234.0,44983.0,44684.0
272,"York-Hanover, PA",15054.0,15401.0,15119.0,15010.0,15444.0,15415.0
273,"Youngstown-Warren-Boardman, OH-PA",12732.0,13033.0,12375.0,12363.0,12051.0,11695.0
274,"Yuba City, CA",30148.0,29604.0,30237.0,30436.0,31089.0,30196.0
275,"Yuma, AZ",48838.0,47537.0,48134.0,50303.0,51950.0,53366.0

### Language Diversity
CB (https://data.census.gov/table/ACSST5Y2022.S1601?g=010XX00US$31000M1)

In [78]:
# Assigning each year's csv its own var
ld10 = pd.read_csv('/Users/isabellagermani/Desktop/Data/ld/ld10.csv', header = 1)
ld11 = pd.read_csv('/Users/isabellagermani/Desktop/Data/ld/ld11.csv', header = 1)
ld12 = pd.read_csv('/Users/isabellagermani/Desktop/Data/ld/ld12.csv', header = 1)
ld13 = pd.read_csv('/Users/isabellagermani/Desktop/Data/ld/ld13.csv', header = 1)
ld14 = pd.read_csv('/Users/isabellagermani/Desktop/Data/ld/ld14.csv', header = 1)
ld15 = pd.read_csv('/Users/isabellagermani/Desktop/Data/ld/ld15.csv', header = 1)
ld16 = pd.read_csv('/Users/isabellagermani/Desktop/Data/ld/ld16.csv', header = 1)
ld17 = pd.read_csv('/Users/isabellagermani/Desktop/Data/ld/ld17.csv', header = 1)
ld18 = pd.read_csv('/Users/isabellagermani/Desktop/Data/ld/ld18.csv', header = 1)
ld19 = pd.read_csv('/Users/isabellagermani/Desktop/Data/ld/ld19.csv', header = 1)
ld20 = pd.read_csv('/Users/isabellagermani/Desktop/Data/ld/ld20.csv', header = 1)
ld21 = pd.read_csv('/Users/isabellagermani/Desktop/Data/ld/ld21.csv', header = 1)
ld22 = pd.read_csv('/Users/isabellagermani/Desktop/Data/ld/ld22.csv', header = 1)

In [79]:
# Listing DFs
LDs = [ld10,ld11,ld12,ld13,ld14,ld15,ld16,ld17,ld18,ld19,ld20,ld21,ld22]

# Listing cols to keep
keep = ['Geographic Area Name','Total!!Estimate!!Speak a language other than English']
keep2 = ['Geographic Area Name','Percent!!Estimate!!Speak a language other than English'] # col name switches in 2015
keep3 = ['Geographic Area Name','Estimate!!Percent!!Population 5 years and over!!Speak a language other than English'] # again in 2017

# dropping unnecessary cols
for ld in LDs[:5]:    
    for col in ld.columns:
        if col not in keep:
            ld.drop(col, axis = 1, inplace = True)
for ld in LDs[5:7]:    
    for col in ld.columns:
        if col not in keep2:
            ld.drop(col, axis = 1, inplace = True)
for ld in LDs[7:]:    
    for col in ld.columns:
        if col not in keep3:
            ld.drop(col, axis = 1, inplace = True)

# renaming cols
for ld in LDs[:5]: # 2010 - 2014
    ld.rename(columns = {'Geographic Area Name':'MSA'}, inplace = True)
    ld.rename(columns = {'Total!!Estimate!!Speak a language other than English':'Percent Speak Other Lang'}, inplace = True)
for ld in LDs[5:7]: # 2015 - 2016
    ld.rename(columns = {'Geographic Area Name':'MSA'}, inplace = True)
    ld.rename(columns = {'Percent!!Estimate!!Speak a language other than English':'Percent Speak Other Lang'}, inplace = True)
for ld in LDs[7:]: # 2017 - 2022
    ld.rename(columns = {'Geographic Area Name':'MSA'}, inplace = True)
    ld.rename(columns = {'Estimate!!Percent!!Population 5 years and over!!Speak a language other than English':'Percent Speak Other Lang'}, inplace = True)

In [118]:
# removing 'Metro Area' str from MSA col
for ld in LDs:
    ld['MSA'] = ld['MSA'].str.replace('Metro Area', '')
    ld['MSA'] = ld['MSA'].str.strip() # removing whitespace

# Replacing NaNs with .
for ld in LDs:
    ld['Percent Speak Other Lang'] = ld['Percent Speak Other Lang'].fillna('.')

# Adding corresponding years to each col before merging
# dict of dfs with corresponding years
LD_DICT = {
    2010:ld10,
    2011:ld11,
    2012:ld12,
    2013:ld13,
    2014:ld14,
    2015:ld15,
    2016:ld16,
    2017:ld17,
    2018:ld18,
    2019:ld19,
    2020:ld20,
    2021:ld21,
    2022:ld22
}

# initializing
merged_ld = None 

# looping through dict, adding years to cols, & merging
for year, ld in LD_DICT.items():
    ld_renamed = ld.rename(columns={'Percent Speak Other Lang': f'Percent Speak Other Lang {year}'})  # add corresponding year to each col
    if merged_ld is None: 
        merged_ld = ld_renamed 
    else:
        merged_ld = pd.merge(merged_ld, ld_renamed, on='MSA')

# deleting unnecessary cols
merged_ld = merged_ld.drop(columns = ['Percent Speak Other Lang 2016','Percent Speak Other Lang 2017','Percent Speak Other Lang 2018','Percent Speak Other Lang 2019','Percent Speak Other Lang 2020','Percent Speak Other Lang 2021','Percent Speak Other Lang 2022'])

# Making alphabetical by MSA
merged_ld = merged_ld.sort_values(by='MSA', ascending = True)
merged_ld

,MSA,Percent Speak Other Lang 2010,Percent Speak Other Lang 2011,Percent Speak Other Lang 2012,Percent Speak Other Lang 2013,Percent Speak Other Lang 2014,Percent Speak Other Lang 2015
0,"Abilene, TX",14.3,14.5,14.4,14.8,15.4,15.3
1,"Akron, OH",5.3,5.2,5.4,5.5,5.4,5.5
2,"Albany, GA",3.7,3.5,3.4,3.7,3.5,3.5
3,"Albany-Schenectady-Troy, NY",8.8,8.6,8.8,9.0,8.9,9.1
4,"Albuquerque, NM",30.8,31.1,31.1,30.8,30.9,30.6
...,...,...,...,...,...,...,...
271,"Yakima, WA",38.5,38.7,39.2,39.6,39.8,39.9
272,"York-Hanover, PA",6.7,6.6,6.6,6.6,6.8,7.0
273,"Youngstown-Warren-Boardman, OH-PA",5.6,5.7,5.7,5.7,5.7,5.5
274,"Yuba City, CA",30.7,31.2,31.7,31.7,32.5,31.5
275,"Yuma, AZ",50.2,50.7,50.8,51.2,52.1,52.1

# ECONOMIC VARIABLES

### GDP * GET DIFF DATA FROM CB (YEARS FUCKED UP)
BEA (https://apps.bea.gov/itable/?ReqID=70&step=1#eyJhcHBpZCI6NzAsInN0ZXBzIjpbMSwyOSwyNSwzMSwyNiwyNywzMF0sImRhdGEiOltbIlRhYmxlSWQiLCI1MzMiXSxbIk1ham9yX0FyZWEiLCI1Il0sWyJTdGF0ZSIsWyI1Il1dLFsiQXJlYSIsWyJYWCJdXSxbIlN0YXRpc3RpYyIsWyIxIl1dLFsiVW5pdF9vZl9tZWFzdXJlIiwiTGV2ZWxzIl0sWyJZZWFyIixbIi0xIl1dLFsiWWVhckJlZ2luIiwiLTEiXSxbIlllYXJfRW5kIiwiLTEiXV19)

In [117]:
gdp = pd.read_csv('/Users/isabellagermani/Desktop/Data/BEA Table.csv', header = 3)

# Dropping GeoFips col
gdp = gdp.drop('GeoFips', axis = 1)

# Dropping if not an MSA
gdp = gdp[gdp['GeoName'].str.contains('Metropolitan Statistical Area', na = False)]

# Losing Unnecessary str in GeoName col
gdp['GeoName'] = gdp['GeoName'].str.replace(' (Metropolitan Statistical Area)','')
gdp['GeoName'] = gdp['GeoName'].str.replace(' *','')

# Replacing any missing values with .
gdp.fillna('.', inplace = True)

# Renaming GeoName
gdp.rename(columns = {'GeoName':'MSA'}, inplace = True)

# Making alphabetical by MSA
gdp = gdp.sort_values(by='MSA', ascending = True)
gdp

,MSA,2017,2018,2019,2020,2021,2022
1,"Abilene, TX",6827152.0,7141273.0,7426609.0,7354374.0,7573774.0,7894587.0
2,"Akron, OH",36424857.0,36883382.0,37471099.0,36099097.0,37510049.0,37703093.0
3,"Albany, GA",5693673.0,5702355.0,5839867.0,5797644.0,6068572.0,6096378.0
4,"Albany-Lebanon, OR",4505965.0,4802294.0,4921026.0,4788775.0,4893295.0,4996612.0
5,"Albany-Schenectady-Troy, NY",61024034.0,61119269.0,64250467.0,62574116.0,66759654.0,68358828.0
...,...,...,...,...,...,...,...
380,"Yakima, WA",9986455.0,10545549.0,10696037.0,10523373.0,10676322.0,10476526.0
381,"York-Hanover, PA",21304241.0,21335230.0,21554288.0,20545120.0,21095422.0,21185253.0
382,"Youngstown-Warren-Boardman, OH-PA",20570339.0,20514155.0,20930410.0,19772228.0,20398971.0,20599165.0
383,"Yuba City, CA",6342091.0,6679728.0,6781174.0,6740300.0,7014656.0,7016297.0
384,"Yuma, AZ",7543432.0,7522243.0,7747758.0,7516153.0,7658882.0,8137550.0

### Number of Patents
2000 - 2015 USPTO (https://www.uspto.gov/web/offices/ac/ido/oeip/taf/cls_cbsa/allcbsa_gd.htm)

In [115]:
pat = pd.read_csv('/Users/isabellagermani/Desktop/Data/Patents 2000-2015.csv')

# Dropping ID Code col
pat = pat.drop('ID Code', axis = 1)

# Dropping if not an MSA
pat = pat[pat['U.S. Regional Level'].str.contains('Metropolitan Statistical Area', na = False)]

# Dropping U.S. Regional Level col
pat.drop(columns = ['U.S. Regional Level'], inplace = True)

# Dropping unnecessary years
pat = pat.drop(columns = ['2001','2002','2003','2004','2005','2006','2007','2008','2009'])

# Replacing any missing values with .
pat.fillna('.', inplace = True)

# DROPPING PR TERRITORIES
pat = pat[~pat['U.S. Regional Title'].str.contains('PR', na = False)]

# Renaming U.S. Regional Title
pat.rename(columns = {'U.S. Regional Title':'MSA'}, inplace = True)

# Making alphabetical by MSA
pat = pat.sort_values(by='MSA', ascending = True)
pat

,MSA,2000,2010,2011,2012,2013,2014,2015
342,"Abilene, TX",0,7,2,3,1,8,8
54,"Akron, OH",318,333,352,359,402,335,373
320,"Albany, GA",8,3,2,3,16,12,28
26,"Albany-Schenectady-Troy, NY",495,736,713,738,828,1049,1090
64,"Albuquerque, NM",223,257,250,290,280,289,294
...,...,...,...,...,...,...,...,...
282,"Yakima, WA",23,4,6,9,10,2,7
116,"York-Hanover, PA",83,113,112,97,90,118,114
149,"Youngstown-Warren-Boardman, OH-PA",67,71,57,47,50,52,66
319,"Yuba City, CA",10,9,3,2,14,6,3
340,"Yuma, AZ",1,1,6,6,9,5,5

### Total Population
BEA (https://apps.bea.gov/itable/?ReqID=70&step=1#eyJhcHBpZCI6NzAsInN0ZXBzIjpbMSwyOSwyNSwzMSwyNiwyNywzMF0sImRhdGEiOltbIlRhYmxlSWQiLCIxMiJdLFsiTWFqb3JfQXJlYSIsIjUiXSxbIlN0YXRlIixbIjUiXV0sWyJBcmVhIixbIlhYIl1dLFsiU3RhdGlzdGljIixbIjEwMCJdXSxbIlVuaXRfb2ZfbWVhc3VyZSIsIkxldmVscyJdLFsiWWVhciIsWyItMSJdXSxbIlllYXJCZWdpbiIsIi0xIl0sWyJZZWFyX0VuZCIsIi0xIl1dfQ==)

In [116]:
pop = pd.read_csv('/Users/isabellagermani/Desktop/Data/BEA Table4.csv', header = 3)
pop

# Dropping GeoFips col
pop = pop.drop('GeoFips', axis = 1)

# Dropping if not an MSA
pop = pop[pop['GeoName'].str.contains('Metropolitan Statistical Area', na = False)]

# Losing Unnecessary str in GeoName col
pop['GeoName'] = pop['GeoName'].str.replace(' (Metropolitan Statistical Area)','')
pop['GeoName'] = pop['GeoName'].str.replace(' *','')

# Dropping unnecessary years
pop = pop.drop(columns = ['1969','1970','1971','1972','1973','1974','1975','1976','1977','1978','1979','1980','1981','1982','1983','1984','1985','1986','1987','1988','1989','1990','1991','1992','1993','1994','1995','1996','1997','1998','1999','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2016','2017','2018','2019','2020','2021','2022'])

# Replacing any missing values with .
pop.fillna('.', inplace = True)

# Renaming GeoName
pop.rename(columns = {'GeoName':'MSA'}, inplace = True)

# Making alphabetical by MSA
pop = pop.sort_values(by='MSA', ascending = True)
pop

,MSA,2010,2011,2012,2013,2014,2015
1,"Abilene, TX",165673.0,167069.0,168246.0,168614.0,169859.0,171579.0
2,"Akron, OH",703057.0,703272.0,702245.0,703809.0,705134.0,704664.0
3,"Albany, GA",154227.0,154933.0,154669.0,153680.0,153263.0,152018.0
4,"Albany-Lebanon, OR",116840.0,117938.0,117865.0,117822.0,118285.0,119295.0
5,"Albany-Schenectady-Troy, NY",871603.0,875387.0,879397.0,883854.0,886981.0,889918.0
...,...,...,...,...,...,...,...
380,"Yakima, WA",244360.0,246457.0,247072.0,247853.0,248660.0,250020.0
381,"York-Hanover, PA",435566.0,437481.0,438872.0,440954.0,443127.0,445022.0
382,"Youngstown-Warren-Boardman, OH-PA",564978.0,563424.0,560540.0,558798.0,556915.0,553591.0
383,"Yuba City, CA",167196.0,167497.0,167918.0,168982.0,170146.0,171626.0
384,"Yuma, AZ",196839.0,201291.0,199666.0,198339.0,198670.0,198510.0